body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    padding-left: 33.3%;
    font-size: 16px;
}
.z3{
    float: right;
    height: 81%;
    width: 32%;
    margin: 0;
    border-radius: 5%;
    align-content: center;
    padding-right: 33%;
}

.z1{
    border-radius: 5%;
}

.z2{
    float: left;
    height: 81%;
    width: 31%;
    margin: 0;
    border-radius: 5%;
    align-content: center;
    padding: 0%;
}

.z4{ 
    clear: both;
    margin: 0;
    border-radius: 5%;
}

.ul1{
    list-style-type: none;
}
nozel.jpg{
    border-radius: 27%;
}

.z5{
    float: left;
    height: 80%;
    margin: 0;
    border-radius: 5%;
    align-content: center;
    padding: 0%;
}

.h3{
    font-style: italic;
    color: #3388CC;
}