body {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightskyblue;
    text-align: center;
    margin: 0;
    padding: 20px;
}
input.t {
    width: 270px;
    padding: 12px;
    margin: 10px;
    font-size: 1.2em;
    border: 4px solid cornsilk;
    border-radius: 8px;
    background-color: aliceblue;
    color: rgb(255, 115, 0);
    box-shadow: 0 4px 10px black;
    transition: border 0.3s ease;
}
button {
    background-color: rgb(0, 0, 0);
    padding: 12px 25px;
    margin: 10px;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px black;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    
}
button:hover{
    background-color: chartreuse;
    box-shadow: 0px 4px 15px greenyellow;
}
