body{
    background-color: white;
}

header{
    color: white;
}


.z1{
    background-color:white ;
    margin-left: 50px ;
    margin-bottom: 10px;
    text-align: left;
    font-size: 30px ;
    height: 400px;
    width: 100%;
    clear: both;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', Cochin, Georgia, Times, 'Times New Roman', serif;
}

.b2{ 
    margin-left: 100px;
    text-align: left;
    font-size: 20px ;   
    height: 300px;
    width: 40%;
    float: left; 
}

.b3{
    margin-left: 100px;
    text-align: left;
    font-size: 20px ;
    height: 300px;
    width: 30%;
    float: right; 
}

.b4{
    background-color: white;
    margin-left: 50px;
    height: 95%;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

img{border-radius: 20px;}

.h3{
    font-weight:bold;
    color: gray;
}
