body{ 
    background-color: khaki;
}
.z1{
     background-color: darkgreen;
    float: center;
    height: 50px;
    width: 100%;
    margin: 10px;
    text-align: center;
    

}

.block1, .block2, .block3{
    height: 500px;
    width: 31%;
    margin: 10px;
    background-color: darkgreen;
    text-align: center;
    float: left;
}



.b4, .b5, .b6{
    background-color: crimson;
    height: 400px;
    width: 95%;
    margin-left: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 20px;
    ;
   

}

.c4{

}
.c5{

}
.c6{

}
