div {
    background-color: #EFE9F4;
    height: 200px;
    width: 800px;
    margin: 10px;
}

p {
    color: #E56B70;
}

.c1{
    background-color: #361134;
    height: 200px;
    width: 1000px;
    margin: 10px;
}

.p1{
    color: #FCAB10;

}
