body {
    background-color: rgb(55, 190, 168);
}

button { 
    width: 300px;
    height: 120px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    font-size: 2em;
    margin: 20px;
    transition: 0.2s;
}

button:hover { 
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 150ms;
}